@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container {
        @apply px-3.5;
    }

    #hero-nav.onscroll {
        @apply py-3.5 bg-slate-50 shadow-hero-nav-shadow z-50;
    }

    .logo {
        @apply font-bold font-big-shoulders-display text-40 leading-12;
    }

    #hero-nav-menu.active {
        @apply w-1/2;
    }

    .hero-nav-menu-link-el {
        @apply text-base font-light transition-all font-nunito sm:text-xl sm:leading-8 text-333333 hover:text-black;
    }

    .hero-nav-side-burger-line {
        @apply w-3 h-0.5 bg-333333;
    }

    .form-heading {
        @apply text-xs font-bold font-nunito text-333333;
    }

    .input-field-wrapper {
        @apply mt-3;
    }

    .input-field-wrapper input {
        @apply focus:outline-none border border-solid border-dadada rounded-7 h-12 pl-4 pr-0.5 font-nunito font-light text-xl leading-8 text-333333 w-full;
    }

    .input-field-img {
        @apply bg-white w-10.5 h-10.5 flex items-center justify-center absolute top-1/2 -translate-y-1/2 right-0.25 rounded-7 cursor-pointer hover:scale-95 transition-all;
    }

    .section-heading {
        @apply font-bold font-big-shoulders-display text-40 leading-12 sm:text-56 sm:leading-16 text-333333;
    }

    .features-box-img {
        @apply rounded-full bg-f5f7f5 w-max;
    }

    .features-box-heading {
        @apply font-big-shoulders-display font-bold text-40 leading-12 text-333333 mt-6.25;
    }

    .features-box-text {
        @apply font-nunito font-light text-xl leading-8 text-333333 opacity-50.16 mt-4 md:max-w-84.5;
    }

    .destinations-container-card {
        @apply pl-8 bg-center bg-no-repeat bg-cover pb-5.75 rounded-xl;
    }

    .destinations-container-card-heading {
        @apply text-2xl font-bold font-big-shoulders-display;
    }

    .destinations-container-card-info {
        @apply text-xl font-light leading-8 font-nunito mt-0.5;
    }

    .usa-thailand-tours {
        @apply text-white opacity-50.3;
    }

    .uk-china-tours {
        @apply text-333333 opacity-50.16;
    }

    .book-inner-text {
        @apply text-xl font-light leading-8 font-nunito text-333333;
    }

    .book-inner-container {
        @apply flex items-center gap-3;
    }

    #reviews-container-card-side-left, #reviews-container-card-side-right {
        @apply hidden bg-f5f7f5 lg:block;
    }

    #reviews-container-card-main {
        @apply shadow-reviews-card-shadow mx-7.5 sm:mx-0 relative;
    }

    .reviews-container-card {
        @apply pb-12 pt-9 sm:px-8 px-7.25 rounded-xl xl:max-w-92.5 relative z-0;
    }

    .reviews-container-card-header {
        @apply flex justify-between;
    }

    .reviews-container-card-header-text {
        @apply font-nunito font-light text-xl leading-8 text-333333 opacity-50.16 mt-1.25;
    }

    .reviews-container-card-rating {
        @apply mt-9.5 flex gap-1.5;
    }

    .reviews-container-card-text {
        @apply font-nunito font-light text-xl leading-8 text-333333 mt-6.25 max-h-295 sm:max-h-max overflow-hidden;
    }

    .reviews-container-card-customer {
        @apply flex gap-4 mt-8;
    }

    .reviews-container-card-customer-info {
        @apply mt-3.75;
    }

    .reviews-container-card-customer-info-name {
        @apply text-2xl font-bold font-big-shoulders-display text-333333;
    }

    .reviews-container-card-customer-info-interest {
        @apply font-nunito font-normal text-sm leading-6 text-333333 opacity-50.13;
    }

    .blog-container-card {
        @apply transition-all cursor-pointer lg:w-max hover:translate-y-1 hover:shadow-card-shadow rounded-7;
    }

    .blog-container-card-img img {
        @apply w-full;
    }

    .blog-container-card-content {
        @apply flex items-start px-6 pt-7.25 sm:px-8 sm:pt-7.25 gap-6.25 sm:gap-7.5 pb-7.75 sm:pb-8.5 rounded-b-xl bg-white;
    }

    .blog-container-card-content-box {
        @apply rounded-md bg-55a85a w-max px-2.5 pt-2.5 pb-1.75 mt-1.75;
    }

    .blog-container-card-content-box-number {
        @apply font-bold text-white font-big-shoulders-display text-56 leading-16;
    }

    .blog-container-card-content-box-text {
        @apply text-xl font-light leading-8 text-center text-white font-nunito;
    }

    .blog-container-content-info-heading {
        @apply font-big-shoulders-display font-bold text-2xl sm:text-40 sm:leading-12 text-333333
    }

    .blog-container-content-info-text {
        @apply font-nunito font-light text-xl leading-8 text-333333 opacity-50.16 max-w-101.5 mt-4.5 sm:mt-4;
    }

    .newsletter-gallery-img {
        @apply transition-all cursor-pointer hover:translate-y-3;
    }

    .footer-text {
        @apply text-xl font-light leading-8 text-white font-nunito;
    }

    .footer-left-1-social-icon {
        @apply flex items-center justify-center w-12 h-12 transition-all border border-white border-solid rounded-full cursor-pointer border-opacity-30 hover:border-opacity-100 hover:bg-white;
    }

    .footer-left-2-content-link-el, .footer-bottom-left-link-el {
        @apply opacity-50.3 hover:opacity-100 transition-all;
    }

    .footer-right-1-content-top-img, .footer-right-1-content-bottom-img {
        @apply transition-all cursor-pointer hover:scale-110;
    }
}

#hero-nav-side-burger:hover .hero-nav-side-burger-line {
    background-color: white;
}

.newsletter-header-form-control input[type="email"]::placeholder {
    opacity: 0.516;
}

.footer-left-1-social-icon:hover svg path {
    fill: #333333;
}

@media screen and (max-width: 380px) {
    #footer-bottom-left {
        justify-content: center;
    }

    #footer-bottom-right {
        text-align: center;
    }
}